.metadata
NxNGOL/.classpath
NxNGOL/.project
NxNOL/.settings/org.eclipse.jdt.core.prefs
NxNGOL/futureIdeas.txt
NxNGOL/bin/cell.class
NxNGOL/bin/grid.class
NxNGOL/bin/mainer.class
NxNGOL/src/__pycache__/cell.cpython-36.pyc
NxNGOL/src/__pycache__/grid.cpython-36.pyc
